

<div style="padding: 50% 40% 40% 40%">
    <img style="width: 60px" src="../assets/imgs/Corazón.png" alt="Logo corazon">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    
</div>

