
    /* img.icon{
        width: 47px;
        background-color: #fbd3f2;
        border-radius: 50%;
    } */

    .disblo{
        display: block !important;
    }
    .marbo5{
        margin-bottom: 5px;
    }
    

    /* .divBlanco{
        border: 1px solid rgba(255, 255, 255, .75); 
        padding: 15px;
         background-color: #ffffff; 
    } */

    /* .homeHead{
        background-color: rgba(255, 255, 255, .50)
    } */

    /* .avatarLive{
        background: rgb(231, 231, 231);
        text-align: center; 
        padding: 5%;
        border-radius: 10px;
        border: 1px solid rgb(219, 217, 217);
        display: inline-block;
    } */
