
<div class="loginCont">
  <div class="container"> 
    <!-- <div > -->
      <!-- <div> -->
        <!-- <div ="""> -->
          <br>
          <img class="maincora" src="../../assets/imgs/cora_blanco.png"  alt="">
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">
          <h3 style="color: #ffffff"><b>t x t . m e </b></h3>
        </div>
        <p *ngIf="operation == 'register'">Ya tienes cuenta? Haz click 
          <a style="color: #337391" (click)="operation = 'login'">
            <u>aquí</u>
          </a>
        </p>
        <p *ngIf="operation == 'login'">No tienes cuenta? Registrate
          <a style="color: #337391" (click)="operation = 'register'">
            <u>aquí</u>
          </a>
        </p>

        <div class="borderCont">
          <input class="form-control marbot15" 
                  [(ngModel)]="email"
                  type="email" 
                  placeholder="Correo electronico" 
                  maxlenght="80"
                  required>

          <input class="form-control marbot15" 
                  [(ngModel)]="pass"
                  type="password" 
                  placeholder="Contraseña" required>

          <input *ngIf="operation == 'register'" 
                  [(ngModel)]="nick"
                  class="form-control marbot15" 
                  type="text" 
                  placeholder="Nombre de usuario">
        </div>
        <div class="center marto15">
          <ng-container *ngIf="email != null && pass != null"> 
            <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary btnPrincipal">
              Iniciar Sesión</a>
          </ng-container>

          <ng-container *ngIf="email != null && pass != null">
            <a (click)="signin()" *ngIf="operation == 'register'" class="btn btn-primary btnPrincipal">
              Registrarse</a>
          </ng-container>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
