
    .loginCont{
    background: rgba(230,85,130,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,85,130,1)), color-stop(61%, rgba(251,166,225,1)), color-stop(88%, rgba(252,236,252,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65582', endColorstr='#ffffff', GradientType=0 );
    background: -moz-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    /* background: rgba(253,137,215,1); */
    }

    /* .avatarOff{
        background: rgb(231, 231, 231); 
        text-align: 50%; 
        padding: 10%;
        border-radius: 10px;
        border: 1px solid rgb(219, 217, 217);
        display:block;
        margin:auto;
        width: 180px;
        max-width: 190px;
    } */
    .maincora{
        margin-left: auto;
        margin-right: auto;
        display:block;
    }

    .btn-primary.btnPrincipal{ 
        color: #ffffff;
        background-color: #e65582;
        border: 1px solid #ffffff;
        
    }
    .btn-primary.btnPrincipal:active {
        background-color: #ffffff;
        color: #e65582;
      }
    .btn-primary.btnPrincipal:hover{
           color: #ffffff; 
           border: 1px solid #e65582;
      }
    
      p{
          color: #ffffff;
      }
