
#main-logo{
    width: 55px;
    /* background-color: #ffffff; */
    border-radius: 50%;
}

#menuCont{
    background-color: #e65582;
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 74px;
    top: 0px;
    border-top: none !important;
}

.branding{
    padding: 10px !important;
    border-top: none !important; 
    border-right: none !important;
}
.item{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 18px;
}
.exit{
    top: 17px;
    right: 16px;
    position: absolute
}

#menuCont > .item {
    padding: 5px; 
    color: #ffffff;
    cursor: default;
    /* border: 1px solid white; */
    display: inline-block;
}