
<div id="menuCont">
    <div class="item branding" routerLink="/home">
        <img id="main-logo" src="../assets/imgs/cora_blanco.png" alt="Logo corazon">
    </div>
    <div class="item" routerLink="/home">
        txt.me 
    </div>
    <div class="item" routerLink="/profile">
        perfil
    </div>
    <div class="item" routerLink="/chat">
        chat
    </div>
    <div class="btn btn-danger mr-1 exit" (click)="logout()"routerLink="/">
        Salir X   
    </div>
</div>

<!-- <a routerLink="/profile">Perfil</a> | -->
<!-- <a routerLink="/login">Login</a> | -->
<!-- <a routerLink="/chat">Chat</a> -->
