<div class="mainCont" [ngClass]="{'shaker': shake}">
  <div class="divBlanco">
    <div class="row">
     
      <div class="col">
        <div class="homeHead" style='padding: 3% 0 0 5% '>
          <b *ngIf="friend"> 
            {{friend.nick}} 
          </b>
          <a class="btn btn-light" href="/chat/{{friend.uid}}#last">Ir abajo</a>
          <br />
          <span id="animarScroll">Online</span>
          <br />
        </div>
        <hr>
      </div>
    </div>

      <div class="homeHead cajaChat">
                <form >
                  <div class="form-group" id="CH">
                    <div >
                      <div >
                          <ng-container *ngFor="let m of conversation,let i = index">
                            <ng-container *ngIf="m.remitente != user.uid">
                              <div class="col">
                                  <i style=" text-align: justify">
                                      <ng-container *ngIf="(i+1) == conversation.length"> 
                                          <img id="last"  
                                          [src]="friend.avatar || '../../assets/imgs/user.png'" alt="" class="icon">
                                      </ng-container>
        
                                        <span [ngStyle] ="{'margin-left': (i+1) != conversation.length ? '48px' : 'null'}"
                                        class="badge badge-light fontchat">
        
                                           <ng-container *ngIf="m.img">
                                               <img [src]="m.img" alt="">
                                               <br>
                                          </ng-container>
                                            {{m.text}}
                                        </span>
                                    </i>
                              </div>
                            </ng-container>

                            <ng-container *ngIf="m.remitente == user.uid">
                              <div class="col text-right">
                                  <i class=" text-align: justify">
    
                                      <span [ngStyle] ="{'margin-right': (i+1) != conversation.length ? '48px' : 'null'}"  
                                      [ngClass]="{'badge badge-secondary fontchat' : m.remitente == user.uid}">
      
                                       <ng-container *ngIf="m.img">
                                            <img [src]="m.img" alt="">
                                            <br>
                                       </ng-container>
                                         {{m.text }}
                                      </span>
                                    
                                    <ng-container *ngIf="(i+1) == conversation.length">
                                      <img  id="last" 
                                      [src]="user.avatar || '../../assets/imgs/user.png'" alt="" class="icon">
                                    </ng-container>
                                  </i>
                              </div>
                            </ng-container>
                          </ng-container>


                      </div >
                    </div >
                  </div>
                </form>
      </div>
    </div>
    <div class="divBlanco">
      <div class="homeHead">
        
        <ng-container *ngIf="bandera" >
            <div style="text-align: center; padding-top: 10px">
                <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 3"
                    [resizeToWidth]="128"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                
                <img [src]="croppedImage" style="border: 1px solid white" />
            </div>
        </ng-container>

        <div class="row">
            <!-- <div class="col-md-auto">
              <div class="avatarLive">
                <img src="../../assets/imgs/user.png"  id="avatarPerfil">
              </div>
            </div> -->
            <div class="col">
              <b> Tu
                <span style="padding-left: 75%" *ngIf="textMessage != null"
                      [ngStyle]="{'color': textMessage.length == 30 ? 'red' : 'black'}">

                  {{textMessage.length}} / 30
                </span>
              </b>

              <div>
               
                  <div class="form-group">
                   
                    <textarea [(ngModel)]='textMessage' 
                    (keyup.enter)='sendMessage()'
                    class="form-control" id="textMessage" rows="3" 
                    placeholder="Mide tus palabras, literal solo puedes enviar 30 caracteres"
                    maxlength='30'>
                  </textarea>
                    <div class="col text-right">
                      <i class="img mr-1">
                        <!-- <img src="../../assets/imgs/icons/angry_smile.gif"alt=""> -->
                      </i>
                      <i class="img mr-1">
                          <label class="custom-file-upload">
                              <input type="file" 
                              (change)="fileChangeEvent($event)"
                              accept="image/* ">
                              Enviar foto 
                           </label>
                      </i>
                      <i class="img mr-1">
                        <button (click)="sendZumbido()" 
                                type="button" 
                                class= 'btn btn-warning'>
                                zZZ
                        </button>
                      </i>

                        <button type="button" class="btn btn-primary mr-1"
                                (click)="saveFoto()">
                          Enviar
                        </button>  
                    </div>    
                  </div>  
               
              </div>    
            </div>  
          </div>  
        </div>  
      </div>  
  </div>   
  
  