<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      Nueva Solicitud
      <a class="closeButton" (click)="close()">x</a>
    </div>

    <div class="modal-body" style="height: auto">
      <div class="row">
        <div class="col ">
          <img src="/assets/imgs/Corazón.png" style="width: 45px;position: absolute"  />
        </div>

        <div class="col-10">
          <b>{{nombre}}</b> <br>
          <small>Te ha enviado una solicitud</small>
        </div>

        <hr>

        <h4 class="padding">Desea agregar a esta persona?</h4>
        <div class="row padding" >
          <div class="col">
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="addYes">
            <label for="addYes">Si, quiero agregarlo</label> <br>
    
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="addNo">
            <label for="addNo">No quiero agregarlo</label> <br>
    
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="addLater">
            <label for="addLater">Despues</label> <br>

          </div>

        </div>

      </div>
    </div>

    <div class="modal-footer">
      <a class="btn btn-primary btnPrincipal" 
      (click)="accept() && close()"
      style="color: #ffff"> OK </a>
      <a class="btn btn-default" (click)="close()"> Cerrar </a>
    </div>
  </div>
</div>