<div class="mainCont">

  <div *ngIf="!_us.user" >
    <img class="maincora" src="../assets/imgs/reload.png" style="width:100px" alt="">
    <p style="color:gray;text-align: center">
      Si no puedes ver tu perfil, recarga la pagina
    </p>
  </div>

  <div class="container pato45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarLive" *ngIf="_us.user">
          <img [src]="croppedImage || _us.user.avatar || '../../assets/imgs/Avatar_generico.png'" 
                id="avatarPerfil" class="img-fluid" alt="avatar">
          <hr/>
            <div>
              <span>Cambiar foto...</span> <br>
               <label class="custom-file-upload">
                 <input type="file" (change)="fileChangeEvent($event)" id="_us.userFoto">
                 Subir foto de perfil
              </label>
            </div>
        </div>
    </div>

    <div class="col-md-9" *ngIf='_us.user'>
        <image-cropper *ngIf="visual == 1"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]=" 1 / 1"
            [resizeToWidth]="128"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

      <div>
        <label fixed>Nick</label>
          <input [(ngModel)]='_us.user.nick' type="text" class="form-control">
      </div>
      <div>
          <label fixed>SubNick</label>
          <input [(ngModel)]='_us.user.sub_nick' type="text" class="form-control">
        </div>
        <div>
            <label fixed>Correo Electronico</label>
            <input [(ngModel)]='_us.user.email' type="text" class="form-control">
          </div>
          <div>
              <label fixed>Status</label>
              <select [(ngModel)]='_us.user.status' class="form-control">
                <option value="online">Online</option>
                <option value="away">Ocupado</option>
                <option value="ausent">Ausente</option>
                <option value="offline">Desconectado</option>
              </select>
            </div>
        <hr>
        <a (click)="guardar_cambios()" class="btn btn-outline-success btn-block" id="save">Guardar</a>
    </div>

  </div>
</div>

